<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>blog Home</h1>
    <ul>BLogs:
        <% if (blogs.length >0) { %>
         <% blogs.forEach(element => { %>
          <li><%= element.title %> <br>
            content: <%= element.body %> <br>
            <a href="/blog/edit/:<%= element.id %>">
                <button type="submit">update blog</button>
            </a>
            <a href="/blog/:<%= element.id %>">
                <button type="submit">view blog</button>
            </a>
        </li>
         <% }) %>
        <% } %>
    </ul>
    <a href="/blog/add">
        <button type="submit">Create blog</button>
    </a>
    
</body>
</html>